@charset "utf-8";

.inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* layout */

/*header*/
section {
  width: 100%;
}
#header {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
}
#header .logo {
  position: relative;
  width: 50%;
  padding: 10px 10px 10px 10px;
}

#header .logo > a > img {
  position: absolute;
  left: 40%;
  width: 5.5%;
}

/* nav*/
#nav {
  position: fixed;
  z-index: 2582525;
  width: 100%;
}
#nav .inner {
  display: flex;
  height: 100%;
  left: 0%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #f24d6c;
}

#nav .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  z-index: 9999;
}

#nav .login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 10px;
  color: black;
}

#nav .main_nav {
  font-weight: 800;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
}

#nav .main_nav .deth1 {
  color: #000;
}

#nav .main_nav2 {
  width: calc(100%);
}

#nav .main_nav2 > .deth2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  z-index: 5885845;
}

#nav .main_nav a {
  padding: 0 20px;
}

#nav .fran {
  position: relative;
  top: -10px;
}

#nav .fran img {
  padding-top: 15px;
  width: 80%;
  height: 75%;
}

#nav .login > .login_txt:hover > a {
  color: red;
  border-bottom: 4px solid red;
}

#nav .main_nav > a > p {
  font-weight: 800;
}

#nav p {
  padding: 0 10px;
}

#nav h2 {
  display: block;
}

#nav .main_nav > li {
  position: relative;
  text-align: center;
}

#nav .main_nav > li > a {
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;
}
#nav .main_nav > li:hover > a {
  color: red;
  border-bottom-color: red;
}

#nav .main_nav > li:hover .main_nav2 {
  background-color: rgba(250, 250, 250, 0.7);
  display: flex;
}

#nav .main_nav2 {
  font-weight: 500;
  font-size: 1em;
  position: absolute;
  width: 18vh;
  left: 50%;
  transform: translate(-50%, 0);
  /* background-color: aquamarine;*/
  /*  display: flex; */
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  display: none;
  margin-top: 10px;
}

#nav .main_nav2 > a {
  margin-top: 10px;
  padding: 0% 0% 5% 0%;
}

#nav .main_nav2 > li {
  width: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
  text-align: center;
}

#nav .main_nav2 ul a:hover {
  text-decoration: underline;
}

#nav .main_nav2 > li:hover a {
  color: red;
}

.LeftWrap {
  display: none;
}

ul,
li,
ol {
  list-style-type: none;
}

.LeftWrap {
  width: 300px;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 100;
}
.LeftWrap div {
  margin: 30px 0 0 30px;
}
.close1 {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  font-weight: bold;
  background: #f24d6c;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 15px;
  right: 15px;
}
.open1 {
  display: none;
  width: 30px;
  position: absolute;
  top: 20%;
  left: 50%;
}
.open1 span {
  display: block;
  width: 30px;
  height: 4px;
  background: #555;
  margin-bottom: 2px;
}

#btn1 {
  height: 100%;
  padding: 50px;
}

#btn1 ul {
  display: none;
}

/*픽스 시행 후 */

#nav.fix2 {
  background-color: #ffff;
}

/*section1*/
#section1 {
  margin-bottom: 20px;
}
#section1 img {
  width: 100%;
}

/* 탭 레드 */
.red {
  color: #f24d6c;
}

#section2 .show {
  block-size: block;
  opacity: 1;
  z-index: 999999;
}

/*section2*/

#section2 {
  position: relative;
  margin: 5% auto;
  padding: 1rem 1rem 1rem 1rem;
  color: #000;
}

#section2 h2 {
  position: relative;
  text-align: center;
  align-items: center;
  margin: 10px auto;
  width: 100%;
  padding: 5px 16px 16px 0%;
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}

#section2 .list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 31%;
  left: 8%;
  font-size: 2.5rem;
  font-weight: 700;
  z-index: 55555;
}

#section2 .list > .tabs {
  margin: 5% 0%;
  cursor: pointer;
}
#section2 .panel1 {
  display: none;
}

#section2 .panel1 > .panel {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 700px;
  border: 1px solid black;
  border-radius: 20px 20px;
}

#section2 .panel1 > .panel > .panelImg {
  position: relative;
  width: 40%;
  top: 29%;
  left: 10%;
}

#section2 .panel1 > .panel .panelImg > img {
  width: 70%;
}
#section2 .panel1 > .panel > .panelMenu {
  position: relative;
  width: 40%;
  height: 67%;
  top: 9%;
  left: 8%;
}

#section2 .panel1 > .panel > .panelMenu > ul {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#section2 .panel1 > .panel > .panelMenu > ul > li {
  display: block;
  width: 50%;
  padding: 8% 7%;
}

#section2 .panel1 > .panel > .panelMenu > ul > .imgLi:hover {
  background-color: #f9a5af;
}

#section2 .panel1 > .panel > .panelMenu > ul > li > div > .subText {
  position: relative;
  font-size: 1.3rem;
  padding: 32% 6%;
  text-align: center;
}

#section2 .panel1 > .panel > .panelMenu > ul > li > .img_box1 {
  width: 100%;
}

#section2 .panel1 > .panel > .panelMenu > ul > li > .img_box1 > a > img {
  width: 100%;
}
#section2 .panel1 > .panel > .panelMenu > ul > li > .img_box1 > a > .img1 {
  display: block;
  position: relative;
  font-size: 1.2rem;
  left: 22%;
}

/*section3*/
#section3 img {
  width: 100%;
}

/*section4*/
#section4 {
  position: relative;
}

#section4 .banner > img {
  width: 100%;
  height: 80%;
}

/*section5*/

#section5 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5% auto;
  padding: 1rem 1rem 1rem 1rem;
}

#section5 h2 {
  position: relative;
  text-align: center;
  align-items: center;
  margin: 10px auto;
  width: 100%;
  padding: 5px 16px 16px 0%;
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}

#section5 .sns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  margin: 20px auto;
}

#section5 .sns .sns_box {
  width: 300px;
  font-weight: 800;
  position: relative;
  font-size: 1.5rem;
  margin: 10px 10px 10px 10px;
  border-radius: 5% 5%;
  overflow: hidden;
  color: black;
}
#section5 .sns_box .mobiale {
  display: none;
}
#section5 .sns .sns_box > a > img {
  width: 100%;
}
#section5 .sns_box .sns_a > .sns1 {
  display: block;
  position: absolute;
  width: 300px;
  width: 300px;
  height: 386px;
  top: 0%;
  left: -100%;
  background: linear-gradient(
    to right,
    rgba(251, 131, 250, 0.3) 0%,
    rgba(248, 121, 248, 0.3) 14%,
    rgba(244, 105, 245, 0.7) 37%,
    rgba(240, 89, 242, 0.7) 59%,
    rgba(238, 80, 240, 0.7) 72%,
    rgba(233, 60, 236, 0.7) 100%
  );
  opacity: 0;
  transition: 0.5s all;
  z-index: 50;
}

#section5 .sns_box .sns_a > .sns1 > p {
  display: block;
  box-sizing: border-box;
  padding-top: 88%;
  padding-left: 45%;
  transform: translate(-30%, -30%);
  top: 15%;
  width: 100%;
  text-align: center;
  z-index: 51;
}

#section5 .sns_box .sns_a:hover > .sns1 {
  display: block;
  top: -15%;
  left: 0%;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  opacity: 100%;
}

#section6 {
  width: 100%;
  margin: 5% auto;
  padding: 1rem 1rem 1rem 1rem;
}
#section6 h2 {
  position: relative;
  text-align: center;
  margin: 16px auto;
  width: 100%;
  padding: 5px 16px 16px 0%;
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}

#section6 .news_width {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

#section6 .news_width .newsBox {
  width: 20%;
}
#section6 .news_width .newsBox > .new {
  position: relative;
  display: block;
  width: 5%;
  padding: 20px 0px;
  width: 100%;
}
#section6 .news_width .newsBox > .new > .news_txt {
  text-align: right;
  padding: 6% 28%;
}
#section6 .news_width .newsBox > .new > img {
  position: relative;
  left: 50%;
  width: 25%;
}
#section6 .news_width .newsBox > .new:hover {
  color: red;
}

/* footer */
footer {
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
  background-color: #f24d6c;
}

footer .inner {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
}

footer .txt {
  width: 100%;
  margin: 20px 0;
  color: #ffff;
}

footer .txt > p {
  margin: 10px 10px;
}

footer .footer_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  width: 50%;
}

footer .footer_right .pp {
  margin-bottom: 25px;
  color: #ffff;
}

footer .inner .footer_right .pp a {
  justify-content: space-between;
  padding: 10px;
  width: calc((100% - 20px * 2) / 3);
  flex-shrink: 1;
  flex-grow: 1;
}

footer .a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 30px;
}

/*a가 움직이지 않게 하는 코드 */

@media all and (max-width: 1025px) {
  #section2 h2 {
    font-size: 1.8rem;
    left: -5%;
  }

  #section2 .panel1 > .panel > .panelMenu {
    position: relative;
    width: 50%;
    height: 67%;
    top: 14%;
    left: 6%;
  }

  #section5 {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
  #section5 h2 {
    font-size: 1.8rem;
    left: 5%;
  }
  #section5 .sns {
    position: relative;
    left: 0%;
  }

  #section6 h2 {
    font-size: 1.8rem;
    left: 0%;
  }

  #section6 .news_width .newsBox {
    width: 35%;
  }
  #section5 .sns_box .sns_a > .sns1 > p {
    padding-top: 81%;
    padding-left: 31%;
  }
  #section6 .news_width .newsBox > .new {
    width: 5%;
    padding: 20px 0px;
    width: 100%;
  }
  #section6 .news_width .newsBox > .new > .news_txt {
    text-align: left;
    padding: 8% 21%;
  }
  #section6 .news_width .newsBox > .new > img {
    left: 27%;
    width: 25%;
  }

  footer {
    font-size: 0.7rem;
  }

  footer .footer_right {
    width: 100%;
  }
  footer .footer_right > .pp {
    align-content: space-around;
  }
} /* 1024px*/

@media all and (max-width: 768px) {
  #nav .nav {
    display: none;
  }

  .open1 {
    display: block;
    width: 30px;
    left: 55%;
    padding: 2% 5%;
  }

  #nav .fran {
    text-align: center;
    /* top: -10px; */
  }

  #nav .fran > a > img {
    width: 50%;
    /* top: -10px; */
  }

  #section2 .panel1 > .panel {
    height: 500px;
  }

  #section2 .panel1 > .panel .panelMenu > ul > li > div > .subText {
    position: relative;
    font-size: 1.2rem;
    padding: 19% 10%;
    text-align: center;
  }

  #section5 .sns .sns_width {
    flex-direction: row;
    z-index: 11114;
  }

  #section5 .sns .sns_box {
    margin: 5% 5% 5% 5%;
    position: relative;
    align-items: center;
    width: 40%;
  } /* 320px*/
}

@media all and (max-width: 580px) {
  #section2 .list {
    flex-direction: row;
    width: 83%;
    top: 24%;
    left: 7%;
    font-size: 1.3rem;
  }
  #section2 .list > .tabs {
    width: 100%;
    padding-top: 2%;
    text-align: center;
    margin: 0% 0%;
    border: 1px solid black;
    border-radius: 10px 10px;
    cursor: pointer;
  }
  #section2 .panel1 > .panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 400px;
  }

  #section2 .panel1 > .panel .panelImg {
    display: none;
  }

  #section2 .panel1 > .panel .panelImg > img {
    width: 70%;
  }

  #section2 .panel1 > .panel > .panelMenu {
    position: relative;
    width: 100%;
    height: 67%;
    top: 17%;
    left: 12%;
  }

  #section2 .panel1 > .panel > .panelMenu > ul {
    width: 73%;
    height: 72%;
  }
  #section2 .panel1 > .panel > .panelMenu > ul > li {
    display: block;
    width: 50%;
    padding: 1% 1%;
  }

  #section2 .panel1 > .panel .panelMenu > ul > li > div > .subText {
    font-size: 0.8rem;
    padding: 36% 10%;
  }

  #section2 .panel1 > .panelMenu > ul > li > .img_box1 {
    width: 100%;
  }
  #section2 .panel1 > .panelMenu > ul > li > .img_box1 > a > img {
    width: 66%;
  }

  #section2 .panel1 > .panel > .panelMenu > ul > li > .img_box1 > a > .img1 {
    font-size: 1rem;
  }

  .LeftWrap {
    display: block;
  }

  #btn1 > li {
    color: black;
    padding: 11% 1%;
  }
}
